:root {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}


/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--mat-sys-outline) var(--mat-sys-surface-dim);
}

@supports selector(::-webkit-scrollbar) {
  @property --scrollbar-color {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
  }

  * {
    scrollbar-width: unset;
    scrollbar-color: unset;
    transition: --scrollbar-color 500ms cubic-bezier(0.2, 0, 0, 1);
    --scrollbar-color: transparent;
  }

  :hover,
  :focus-within,
  :focus {
    --scrollbar-color: var(--mat-sys-outline);
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 5px var(--scrollbar-color);
    border-radius: 4px;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.pf-c-button.btn-default {
  margin-left: 0 !important;
}

.custom-header {
  min-height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  position: sticky;
  top: 0;
}

.custom-header > a {
  text-decoration: none;
}

.mat-icon-button,
.mat-button,
.mat-item-button,
.pf-c-button,
a:not(.no-button),
a.kc-social-item.kc-social-item {
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  outline: none;
  line-height: inherit;
  appearance: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0);
  padding: 0 8px;
  text-decoration: none;

  overflow: clip;
}

.mat-icon-button {
  height: 36px;
  width: 36px;
  font-size: 24px;
  padding: 6px;
  text-align: center;
  border-radius: 50%;
  color: var(--mat-sys-on-surface-variant);
}

.mat-button,
.pf-c-button,
a:not(.no-button),
a.kc-social-item.kc-social-item {
  min-width: 64px;
  height: 36px;
  font-family: "Roboto Flex";
  font-size: 0.875rem;
  letter-spacing: 0.006rem;
  font-weight: 500;
  padding: 0 24px;
  border-radius: 9999px;
  line-height: normal;
  display: flex;
  align-items: center;
}

.kc-social-item.kc-social-item {
  background-color: var(--mat-sys-tertiary) !important;
  color: var(--mat-sys-on-tertiary) !important;
  --color: var(--mat-sys-tertiary);
  --on-color: var(--mat-sys-on-tertiary);
}

.kc-social-item::after {
  content: unset;
  border: none;
}

.kc-social-item > .kc-social-provider-logo {
  color: inherit;
  margin-right: 0.5em;
}

.kc-social-item > .kc-social-icon-text {
  position: static;
 }

a:not(.no-button) {
  text-decoration: none !important;
  color: var(--mat-sys-primary);
}

a:not(.no-button):hover,
a:not(.no-button):focus {
  color: var(--mat-sys-primary);
}

a:not(.no-button):focus {
  outline: none !important;
}

a:not(.no-button):visited {
  color: var(--mat-sys-tertiary);
}

.mat-item-button {
  padding-inline: 12px;
  width: 100%;
  border-radius: unset;
  color: var(--mat-sys-on-surface);
  min-height: 48px;
  justify-content: start;
  line-height: 1.25rem;
}

.tonal-button {
  color: var(--mat-sys-on-secondary);
  background-color: var(--mat-sys-secondary);
}

.primary-button,
.pf-c-button.pf-m-primary {
  color: var(--mat-sys-on-primary) !important;
  background-color: var(--mat-sys-primary) !important;
  border-radius: 9999px !important;
}

.pf-c-button.pf-m-primary:hover {
  --color: color-mix(
    in srgb,
    var(--mat-sys-on-primary) 8%,
    var(--mat-sys-primary)
  );
  --on-color: var(--mat-sys-on-primary);
}

.pf-c-button.pf-m-primary:active,
.pf-c-button.pf-m-primary:focus {
  background-color: color-mix(
    in srgb,
    var(--mat-sys-on-primary) 12%,
    var(--mat-sys-primary)
  ) !important;
}

.pf-c-button:focus {
  outline: none !important;
}

.mat-button[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: 0.38;
}

:is(.mat-button, .mat-icon-button, a:not(.no-button))::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background-color: currentColor;
}

:is(.mat-button, .mat-icon-button, a:not(.no-button)):hover::before {
  opacity: 0.08;
}

:is(.mat-button, .mat-icon-button, a:not(.no-button)):active::before {
  opacity: 0.12;
}

.mat-button > i.mat-icon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 1.125rem;
  height: 1.125rem;
  width: 1.125rem;
  margin-right: 8px;
  margin-left: -8px;
}

.mat-item-button > i.mat-icon {
  width: 24px;
  height: 24px;
  margin: 12px;
  flex-shrink: 0;
  margin-left: unset;
  line-height: 1.25rem;
}

.ripple-element {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition:
    opacity,
    transform 225ms cubic-bezier(0, 0, 0.2, 1);
  transform: scale3d(0, 0, 0);
  background-color: color-mix(in srgb, currentColor 12%, transparent);
}

.mat-menu {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  outline: 0;
  border-radius: 4px;
  background-color: var(--mat-sys-surface-container);
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  will-change: transform, opacity;

  margin: 0;
  padding: 8px 0;
  outline: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  flex: 1;
  white-space: normal;
  font-family: "Roboto Flex";
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.006rem;
  font-weight: 500;

  position: absolute;

  display: flex;
  flex-direction: column;
}

html {
  --mat-sys-background: #fff8f4;
  --mat-sys-on-background: #1f1b16;
  --mat-sys-surface: #fff8f4;
  --mat-sys-surface-dim: #e2d8d1;
  --mat-sys-surface-bright: #fff8f4;
  --mat-sys-surface-container-lowest: #ffffff;
  --mat-sys-surface-container-low: #fcf2ea;
  --mat-sys-surface-container: #f6ece4;
  --mat-sys-surface-container-high: #f0e6de;
  --mat-sys-surface-container-highest: #ebe1d9;
  --mat-sys-on-surface: #1f1b16;
  --mat-sys-surface-variant: #f0e0d0;
  --mat-sys-on-surface-variant: #504539;
  --mat-sys-inverse-surface: #352f2a;
  --mat-sys-inverse-on-surface: #f9efe7;
  --mat-sys-outline: #827568;
  --mat-sys-outline-variant: #d4c4b5;
  --mat-sys-shadow: #000000;
  --mat-sys-scrim: #000000;
  --mat-sys-surface-tint: #855400;
  --mat-sys-primary: #855400;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #ffddb7;
  --mat-sys-on-primary-container: #653e00;
  --mat-sys-inverse-primary: #ffb95c;
  --mat-sys-secondary: #705b41;
  --mat-sys-on-secondary: #ffffff;
  --mat-sys-secondary-container: #fcdebc;
  --mat-sys-on-secondary-container: #57432b;
  --mat-sys-tertiary: #53643e;
  --mat-sys-on-tertiary: #ffffff;
  --mat-sys-tertiary-container: #d6e9b9;
  --mat-sys-on-tertiary-container: #3c4c28;
  --mat-sys-error: #ba1a1a;
  --mat-sys-on-error: #ffffff;
  --mat-sys-error-container: #ffdad6;
  --mat-sys-on-error-container: #93000a;
  --mat-sys-primary-fixed: #ffddb7;
  --mat-sys-primary-fixed-dim: #ffb95c;
  --mat-sys-on-primary-fixed: #2a1700;
  --mat-sys-on-primary-fixed-variant: #653e00;
  --mat-sys-secondary-fixed: #fcdebc;
  --mat-sys-secondary-fixed-dim: #dfc2a2;
  --mat-sys-on-secondary-fixed: #281805;
  --mat-sys-on-secondary-fixed-variant: #57432b;
  --mat-sys-tertiary-fixed: #d6e9b9;
  --mat-sys-tertiary-fixed-dim: #bacd9f;
  --mat-sys-on-tertiary-fixed: #121f03;
  --mat-sys-on-tertiary-fixed-variant: #3c4c28;
  --mat-sys-yellow: #735c00;
  --mat-sys-on-yellow: #ffffff;
  --mat-sys-yellow-container: #ffe084;
  --mat-sys-on-yellow-container: #231b00;
  --mat-sys-green: #346b00;
  --mat-sys-on-green: #ffffff;
  --mat-sys-green-container: #91fd3d;
  --mat-sys-on-green-container: #0b2000;
  --mat-sys-red: #be0038;
  --mat-sys-on-red: #ffffff;
  --mat-sys-red-container: #ffdada;
  --mat-sys-on-red-container: #40000d;
}

#header-title {
  display: block;
  font-size: 3.5em;
  font-weight: bold;
  color: var(--mat-sys-secondary);
  padding: 0;
  margin: 0.3em 0 0 0;
  line-height: 1;
  letter-spacing: 2pt;
  text-transform: none;
  text-align: center;
}

#header-subtitle {
  display: block;
  font-size: 30px;
  font-weight: normal;
  color: var(--mat-sys-primary);
  padding: 0;
  margin: 0;
  line-height: 30px;
  text-transform: none;
  text-align: center;
}

/* Patternfly CSS places a "bg-login.jpg" as the background on this ".login-g" class.
    This clashes with the "keycloak-bg.png' background defined on the body below.
    Therefore the Patternfly background must be set to none. */
.login-g {
  background: none;
}

.login-pf body {
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  position: relative;
}

.pf-c-form-control.pf-c-form-control {
  color: var(--mat-sys-on-surface);
  caret-color: var(--mat-sys-primary);
  padding: 14px 16px;
  height: 52px;
  background-color: transparent;
  outline: 0;
  border-radius: 4px;
  border: 1px solid var(--mat-form-control-color, var(--mat-sys-outline));
}

.pf-c-form-control:focus {
  border-color: var(--mat-sys-primary);
  border-width: 2px;
}

.pf-c-form-control[aria-invalid="true"] {
  border-color: var(--mat-sys-error) !important;
  caret-color: var(--mat-sys-error);
}

.pf-c-form__label {
  position: absolute;
  background-color: var(--mat-sys-surface-container-highest);
  padding-inline: 0.5em;
  left: 1em;
  top: -0.75em;
  transition:
    top 150ms cubic-bezier(0.4, 0, 0.2, 1),
    color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group > div > .pf-c-form__label {
  left: calc(20px + 1em);
  z-index: 1;
}

.pf-c-form__label:has(+ .pf-c-form-control:focus),
div[class^="col"]:has(+ div > .pf-c-form-control:focus) > .pf-c-form__label {
  color: var(--mat-sys-primary);
}

.pf-c-form__label:has(+ .pf-c-form-control[aria-invalid="true"]),
div[class^="col"]:has(+ div > .pf-c-form-control[aria-invalid="true"])
  > .pf-c-form__label {
  color: var(--mat-sys-error) !important;
}

.pf-c-form__label:has(+ .pf-c-form-control:placeholder-shown:not(:focus)),
div[class^="col"]:has(+ div > .pf-c-form-control:placeholder-shown:not(:focus))
  > .pf-c-form__label {
  top: 16px;
  font-size: inherit;
}

textarea.pf-c-form-control {
  height: auto;
}

.pf-c-alert__title {
  font-size: var(--pf-global--FontSize--xs);
}

.pf-c-alert.pf-m-error {
  background-color: #ffdad6;
  color: #ba1a1a;
}

p.instruction {
  margin: 5px 0;
}

.pf-c-button.pf-m-control {
  border: solid var(--pf-global--BorderWidth--sm);
  border-color: rgba(230, 230, 230, 0.5);
}

.pf-c-button {
  background: transparent !important;
  color: var(--color) !important;
  border: 1px solid var(--color);
  border-radius: 7px;
}

.pf-c-button:hover {
  background-color: var(--color) !important;
  color: var(--on-color) !important;
}

.pf-c-button:focus {
  outline: 3px solid var(--mat-sys-primary);
}

.pf-c-button.btn-default {
  --color: red;
  --on-color: white;
}

h1#kc-page-title {
  color: var(--mat-sys-on-surface);
  font-family: "Roboto Flex";
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  display: block;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0 0 1px;
  padding: 6px 24px 13px;
  text-align: left;
  margin-top: 1rem;
}

.login-pf .container {
  padding-top: 40px;
}

#kc-logo {
  width: 100%;
}

div.kc-logo-text {
  background-image: url(../img/keycloak-logo-text.png);
  background-repeat: no-repeat;
  height: 63px;
  width: 300px;
  margin: 0 auto;
}

div.kc-logo-text span {
  display: none;
}

#kc-header {
  color: #ededed;
  overflow: visible;
  white-space: nowrap;
}

#kc-header-wrapper {
  font-size: 29px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.2em;
  padding: 62px 10px 20px;
  white-space: normal;
}

#kc-content {
  width: 100%;
  padding-inline: 24px;
  margin-bottom: 24px;
}

#kc-attempted-username {
  font-size: 20px;
  font-family: inherit;
  font-weight: normal;
  padding-right: 10px;
}

#kc-username {
  text-align: center;
  margin-bottom: -10px;
}

#kc-webauthn-settings-form {
  padding-top: 8px;
}

#kc-form-webauthn .select-auth-box-parent {
  pointer-events: none;
}

#kc-form-webauthn .select-auth-box-desc {
  color: var(--pf-global--palette--black-600);
}

#kc-form-webauthn .select-auth-box-headline {
  color: var(--pf-global--Color--300);
}

#kc-form-webauthn .select-auth-box-icon {
  flex: 0 0 3em;
}

#kc-form-webauthn .select-auth-box-icon-properties {
  margin-top: 10px;
  font-size: 1.8em;
}

#kc-form-webauthn .select-auth-box-icon-properties.unknown-transport-class {
  margin-top: 3px;
}

#kc-form-webauthn .pf-l-stack__item {
  margin: -1px 0;
}

#kc-content-wrapper {
  margin-top: 20px;
}

#kc-form-wrapper {
  margin-top: 10px;
}

#kc-info-wrapper {
  font-size: 13px;
  color: var(--mat-sys-on-surface);
  margin-bottom: 1.5rem;
}

#kc-form-options span {
  display: block;
}

.checkbox input[type="checkbox"] {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  color: var(--mat-sys-on-surface);
  padding-left: 80px;
  font-family: "Roboto Flex";
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.016rem;
  font-weight: 400;
  user-select: none;
}

.checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 52px;
  height: 32px;
  border-radius: 9999px;
  background-color: var(--mat-sys-surface-variant);
  border: 2px solid var(--mat-sys-outline);
  transition:
    background-color 75ms,
    border-color 75ms;
}

.checkbox label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: -2px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: var(--mat-sys-outline);
  transition:
    background-color 75ms,
    left 75ms,
    top 225ms,
    width 225ms,
    height 225ms;
}

.checkbox:has(input[type="checkbox"]:checked) > label::before {
  background-color: var(--mat-sys-primary);
  border-color: var(--mat-sys-primary);
}

.checkbox:has(input[type="checkbox"]:active) > label::after {
  width: 28px;
  height: 28px;
}

.checkbox:has(input[type="checkbox"]:active) > label::after {
  left: 2px;
  top: -4px;
}

.checkbox:has(input[type="checkbox"]:checked) > label::after {
  background-color: var(--mat-sys-on-primary);
  left: 24px;
}

.checkbox:has(input[type="checkbox"]:checked:active) > label::after {
  background-color: var(--mat-sys-on-primary);
  left: 22px;
  top: -4px;
}

.checkbox:has(
    input[type="checkbox"]:hover:checked,
    input[type="checkbox"]:active:checked,
    input[type="checkbox"]:focus:checked
  )
  > label::after {
  background-color: var(--mat-sys-primary-container);
}

#kc-terms-text {
  margin-bottom: 20px;
}

#kc-registration-terms-text {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 5px;
}

#kc-registration {
  margin-bottom: 0;
}

/* TOTP */

.subtitle {
  text-align: right;
  margin-top: 30px;
  color: #909090;
}

.required {
  color: var(--pf-global--danger-color--200);
}

ol#kc-totp-settings {
  margin: 0;
  padding-left: 20px;
}

ul#kc-totp-supported-apps {
  margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
  max-width: 150px;
  max-height: 150px;
}

#kc-totp-secret-key {
  background-color: #fff;
  color: #333333;
  font-size: 16px;
  padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
  margin-top: 0;
}

#kc-oauth ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#kc-oauth ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
  border-top: 0;
}

#kc-oauth .kc-role {
  display: inline-block;
  width: 50%;
}

/* Code */
#kc-code textarea {
  width: 100%;
  height: 8em;
}

/* Social */
.kc-social-links {
  margin-top: 20px;
}

.kc-social-links li {
  width: 100%;
}

.kc-social-provider-logo {
  font-size: 23px;
  width: 30px;
  height: 25px;
  float: left;
}

.kc-social-gray {
  color: var(--pf-global--Color--200);
}

.kc-social-item {
  margin-bottom: var(--pf-global--spacer--sm);
  font-size: 15px;
  text-align: center;
}

.kc-social-provider-name {
  position: relative;
}

.kc-social-icon-text {
  left: -15px;
}

.kc-social-grid {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  grid-column-end: span 6;
  --pf-l-grid__item--GridColumnEnd: span 6;
}

.kc-social-grid .kc-social-icon-text {
  left: -10px;
}

.kc-login-tooltip {
  position: relative;
  display: inline-block;
}

.kc-social-section {
  text-align: center;
}

.kc-social-section hr {
  margin-bottom: 10px;
  border-color: var(--mat-sys-outline);
}

.h4, h4 {
  color: var(--mat-sys-on-surface);
}

.kc-login-tooltip .kc-tooltip-text {
  top: -3px;
  left: 160%;
  background-color: black;
  visibility: hidden;
  color: #fff;

  min-width: 130px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  padding: 5px;

  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

/* Show tooltip */
.kc-login-tooltip:hover .kc-tooltip-text {
  visibility: visible;
  opacity: 0.7;
}

/* Arrow for tooltip */
.kc-login-tooltip .kc-tooltip-text::after {
  content: " ";
  position: absolute;
  top: 15px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

@media (min-width: 768px) {
  #kc-container-wrapper {
    position: absolute;
    width: 100%;
  }

  .login-pf .container {
    padding-right: 80px;
  }

  #kc-locale {
    position: relative;
    text-align: right;
    z-index: 9999;
  }
}

@media (max-width: 767px) {
  #kc-header {
    padding-left: 15px;
    padding-right: 15px;
    float: none;
    text-align: left;
  }

  #kc-header-wrapper {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0 0 0;
    color: #72767b;
    letter-spacing: 0;
  }

  div.kc-logo-text {
    margin: 0;
    width: 150px;
    height: 32px;
    background-size: 100%;
  }

  #kc-form {
    float: none;
  }

  #kc-info-wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
  }

  .login-pf .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #kc-locale {
    position: absolute;
    width: 200px;
    top: 20px;
    right: 20px;
    text-align: right;
    z-index: 9999;
  }

  #kc-info {
    margin-block: 20px -30px;
    margin-inline: 0;
  }
}

@media (min-height: 646px) {
  #kc-container-wrapper {
    bottom: 12%;
  }
}

@media (max-height: 645px) {
  #kc-container-wrapper {
    padding-top: 50px;
    top: 20%;
  }
}

.card-pf form.form-actions .btn {
  float: right;
  margin-left: 10px;
}

#kc-form-buttons {
  margin-top: 20px;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login-pf-page {
  padding-bottom: 6em;
  overflow-y: scroll;
  flex: 1;
}

.login-pf-page .login-pf-brand {
  margin-top: 20px;
  max-width: 360px;
  width: 40%;
}

.select-auth-box-arrow {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.select-auth-box-icon {
  display: flex;
  flex: 0 0 2em;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 3rem;
}

.select-auth-box-parent {
  border-top: 1px solid var(--mat-sys-outline);
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.select-auth-box-parent:hover {
  background-color: var(--mat-sys-primary-container);
}

.select-auth-container {
  padding-bottom: 0px !important;
}

.select-auth-box-headline {
  font-size: 1rem;
  color: var(--var-sys-primary);
  font-weight: bold;
}

.select-auth-box-desc {
  font-size: 0.875rem;
  color: var(--mat-sys-on-surface);
}

.select-auth-box-paragraph {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 5px;
}

.card-pf {
  margin: 1rem auto;
  hyphens: auto;
  outline: 0;
  max-width: 500px;

  padding: 0 !important;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: relative;
  overflow-y: auto;
  outline: 0;
  box-shadow: none;
  border-radius: 28px;
  background-color: var(--mat-sys-surface-container-highest);
}

/*phone*/
@media (max-width: 767px) {
  .login-pf-page .card-pf {
    max-width: none;
    padding-top: 0;
    box-shadow: 0 0;
    width: calc(100% - 5em);
    margin-inline: 2.5em;
  }

  .kc-social-grid {
    grid-column-end: 12;
    --pf-l-grid__item--GridColumnEnd: span 12;
  }

  .kc-social-grid .kc-social-icon-text {
    left: -15px;
  }
}

.login-pf-page .login-pf-signup {
  font-size: 15px;
  color: #72767b;
}
#kc-content-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}

.login-pf-page.login-pf-page-accounts {
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page .btn-primary {
  margin-top: 0;
}

.login-pf-page .list-view-pf .list-group-item {
  border-bottom: 1px solid #ededed;
}

.login-pf-page .list-view-pf-description {
  width: 100%;
}

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type,
#kc-update-email-form div.form-group:last-of-type {
  margin-bottom: 0px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

#kc-back {
  margin-top: 5px;
}

/* Recovery codes */
.kc-recovery-codes-warning {
  margin-bottom: 32px;
}
.kc-recovery-codes-warning .pf-c-alert__description p {
  font-size: 0.875rem;
}
.kc-recovery-codes-list {
  list-style: none;
  columns: 2;
  margin: 16px 0;
  padding: 16px 16px 8px 16px;
  border: 1px solid #d2d2d2;
}
.kc-recovery-codes-list li {
  margin-bottom: 8px;
  font-size: 11px;
}
.kc-recovery-codes-list li span {
  color: #6a6e73;
  width: 16px;
  text-align: right;
  display: inline-block;
  margin-right: 1px;
}

.kc-recovery-codes-actions {
  margin-bottom: 24px;
}
.kc-recovery-codes-actions button {
  padding-left: 0;
}
.kc-recovery-codes-actions button i {
  margin-right: 8px;
}

.kc-recovery-codes-confirmation {
  align-items: baseline;
  margin-bottom: 16px;
}
/* End Recovery codes */

.fj-footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: space-evenly;
  background-color: var(--mat-sys-surface);
  gap: 1em;
  height: 3em;
  align-items: center;
}
